body {
  margin: 0;
  padding: 0;
  font-family: lato;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

a {
  text-decoration: none;
  display: block;
}

table {
  table-layout: fixed;
}
.alice-carousel__dots-item {
  cursor: pointer;
}

.rt-tbody {
  height:100px;
  justify-content: flex-start;
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
}
.rt-tr-group {
  min-height:25px
}
.rt-thead {
  flex: 0 0 auto;
}

/* Add this to your global CSS or Tailwind config if needed */
.carousel-container {
  position: relative;
}

.alice-carousel__prev-btn
{
  position: absolute;
  left: 0;
  top: 50%;
}
.alice-carousel__next-btn{
  position: absolute;
    right: 0;
    top: 50%;
}

/* styles.css */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  /* width: 120px; */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Positioning */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Adjust based on your needs */
  left: 50%;
  transform: translateX(-50%);
  
  /* Tooltip Arrow */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.hover-svg {
  fill: red;
  transition: fill 0.3s ease;
}

.tooltip-container:hover .hover-svg {
  fill: blue;
}
